body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    background-color: #313131;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.task-form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.task-form h2 {
    margin-top: 0;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block; 
    margin-bottom: 5px;
}

.input-group input, 
.input-group textarea {
    width: 96%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#submit-btn {
    background-color: #313131;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

#submit-btn:hover {
    background-color: #555;
}

.task-list {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.task-list h2 {
    margin-top: 0;
}

#task-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}